/* reset css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #fff;
}
/*
    1.vi tri
    2. kich thuoc
    3. mau sac
*/
#header{
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.header-logo{
    float: left;
}
.header-logo>img{
    width: 46px;
    height: 46px;
}
.header-menu{
    display: inline-block;
}
.header-menu >li{
    display: inline-block;
    position: relative;
}
.header-menu .header-submenu{
    display: none;
    position: absolute;
    background-color: #fff;
    list-style: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    top: 100%;
    left: 0;
}
.header-submenu a{
    color: #000;
    padding: 16px;
    line-height: 28px;
     width: 210px;
}
.header-menu>li>a{
    color: #fff;
    text-transform: uppercase;
}
.header-menu li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 60px;
    display: block;
   
}
.header-menu> li:hover >a,.header-submenu>li:hover {
    color: #000;
    background-color: #ccc;
}
.header-menu li:hover .header-submenu{
    display: block;
}
.header-menu-arrow-down{
    font-size: 10px;

}
.header-search-button{
    float: right;
}
.header-search-button .search-icon, .header-search-button>.cart{
    line-height: 46px;
    color: #fff;
    font-size: 20px;
    padding: 0 20px;
    cursor: pointer;
}
.header-search-button>.search-button-text{
    border: none;
    line-height: 20px;
    padding-top: 7px;
    width: 250px;

}
#slider{
    margin-top: 46px;
    width: 100%;
    height: 800px;
}
#slider #hinh{
    height: 100%;
    width: 100%;
    display: block;
}
#slider>.slider-icon-first {
    position:absolute;
    top:40%;
    left:20px;
    font-size: 30px;
}
#slider>.slider-icon-next {
    position: absolute;
    top:40%;
    right:20px;
    font-size: 30px;
}


